body
{
    margin: 0;
    padding: 0;
}

h1
{
    margin: 0;
    background-color: rgb(96,0,0);
    color: white;
    text-align: certer;
    padding: 30px;
}

.menu
{
    display: flex;
    justify-content: space-between;

    background-color: rgb(96,0,0);
    padding: 10px;
    color: white;
}

.menu > a
{
    color: white;
}

.menu
{
    text-decoration-color: orange;
}

.conteudo
{
    width: 700px;
    border: 1px solid rgb(96,0,0);
    border-radius: 10px;
}